##<ifModule mod_rewrite.c>
##RewriteEngine On
##RewriteCond %{REQUEST_FILENAME} !-f
##RewriteCond %{REQUEST_FILENAME} !-d
##RewriteRule (.*) index.html [QA,L]
##</ifModule>




RewriteEngine On

RewriteRule ^about/?$ index.html
RewriteRule ^contact/?$ index.html
RewriteRule ^home/?$ index.html
##RewriteRule ^$ index.html

##RewriteEngine on
##RewriteCond %{REQUEST_URI} !^/index.html$
##RewriteCond %{REQUEST_URI} !\.(gif|jpe?g|png|css|js)$
##RewriteRule .* /HashingAndHistory/historynav/index.html [L,R=302]
